body {
    padding-left: 2rem;
    padding-top: 2rem;
}

select { width: 100%; }

textarea {
    width: 10%;
    height: 20rem;
    ~esize: none; /* Запрещаем изменять размер */
}

h3 {
    color: #48484f;
    font-size: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.form  { width: 20%; }
.btn {
    width: 100%;
    margin-top: 1rem;
}
